.haloSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.haloContainer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.slideShowContainer {
    width: 100%;
    height: 35%;
}

.productCarouselConatiner {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 1200px) {
    .haloContainer{
        width: 100%;
    }
}