@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.rightSidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px; /* Adjust width as needed */
    background-color: #fff; /* Adjust background color */
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    z-index: 1000; /* Ensure it's above other content */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto; /* Add this to enable vertical scrolling */
}

.open {
    transform: translateX(0);
}

.hamburgerIcon {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

.closedBar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

.menuItems {
    padding: 20px;
    border-bottom: 1px solid #1b0606;
}

.menuContent {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.menuContent:hover {
    color: #000;
}

.headerText {
    font-family: "Rajdhani", sans-serif;
    font-size: large;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #1B060680;
}

.inputContainer {
    margin-bottom: 10px;
}

.inputField {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.forgotPassword {
    color: #be2c3f;
    text-decoration: none;
    font-size: 14px;
}

.loginButton {
    background-color: #FFFFFF;
    color: #be2c3f;
    padding: 10px 20px;
    border: 1px solid #be2c3f;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

.loginButton:hover {
    background-color: #0056b3;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.loginText {
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
}

.createButton {
    background-color: #be2c3f;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #be2c3f;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}