.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #555555;
    padding: 30px 20px;
}

.heading {
    font-family: "Rajdhani", sans-serif;
    color: #DFDFDF;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    color: #DFDFDF;
    font-size: 12px;
}

.emailContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submitButton {
    background-color: #DDAC17;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    color: #000000;
    margin: 0 0 0 10px;
    padding: 5px 15px;
}

.inputContainer{
    margin: 0 0 0 10px;
    padding: 5px 15px;
    width: 100%;
}

.optionContainer {
    display: flex;
    flex-direction: column;
}

.anchor {
    padding: 10px;
    text-decoration: none;
    color: #DFDFDF;
    font-size: 12px;
    position: relative; /* Ensure the ::before pseudo-element is positioned relative to this */
}

.anchor::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px; /* Adjust the thickness of the underline */
    background-color: #DFDFDF;
    transition: width 0.3s ease; /* Transition for the width property */
}

.anchor:hover::before {
    width: 100%; /* Expand the width of the underline on hover */
}

@media(max-width: 1024px)
{
    .mainContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #555555;
        padding-top: 30px;
    }

    .optionContainer {
        flex-basis: calc(50% - 20px); /* Each container takes roughly half the width minus some space for margin */
        margin: 10px; /* Margin between containers */
    }
}
