.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #555555; /* Your background color */
    padding: 30px 20px;
    flex-wrap: wrap;
    color: #DFDFDF;
  }
  
  .section {
    flex: 1;
    min-width: 200px; /* Adjust this value based on your needs */
    margin: 0 20px;
    text-align: center;
  }
  
  .heading {
    font-family: "Rajdhani", sans-serif;
    color: #DFDFDF; /* Your heading color */
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .emailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .inputContainer {
    padding: 10px;
    width: 200px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
  }
  
  .submitButton {
    background-color: #DDAC17;
    color: #000000;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #DFDFDF;
  }
  
  .address, .contactDetails, .socialMedia {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .socialMedia a {
    margin: 0 10px;
    text-decoration: none;
    color: #DFDFDF;
    font-size: 20px;
  }
  
  .socialMedia a:hover {
    color: #000000;
  }
  
  .footerBottom {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #DFDFDF;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .anchor {
    text-decoration: none;
    color: DFDFDF;
  }
  
  .anchor:hover {
    text-decoration: underline;
  }
  