
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.logoItem {
    font-family: "Rajdhani", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}