
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.logoItem {
    font-family: "Rajdhani", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.logoItem img {
    height: 80px;
    width: 80px;
}

.title {
    text-decoration: none;
    color: #1b0606;
}
.noDataMessage {
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
    color: #555;
    font-weight: bold;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 20px;
}

.uppercase {
    text-transform: uppercase;
    color: #333; /* Optional: make the category name color slightly darker */
}

@media (max-width: 786px) {
    .logoItem img {
        height: 70px;
        width: 70px;
    }
    .logoItem {
        font-size: 12px;
    }
}
