@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.hamburgerMenu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: #FFF;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
}

.hamburgerMenu.open {
    left: 0;
}

.hamburgerIcon {
    cursor: pointer;
    padding: 1px 20px;
}

.closeIcon {
    color: white;
    font-size: 20px;
    /*padding: 20px;*/
    cursor: pointer;
    background-color: #B0241F;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 19px;
}

.closeIcon:hover {
    color: #ddd;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.closedBar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.menuItems {
    padding: 0 20px;
    /* background-color: red; */
}

.menuItems a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    color: #383E47;
}

.menuItems a:hover {
    background-color: red;
    color: white;
}

.menuContent {
    font-family: "Rajdhani", sans-serif;
    font-size: 14px;
    padding: 12px 20px 10px;
    font-weight: bold;
    color: red;
    /* background-color: red; */
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.menuContent:hover {
    background-color: white;
    color: red;
}

.menuContent2 {
    font-family: "Rajdhani", sans-serif;
    font-size: 14px;
    padding: 12px 20px 10px;
    font-weight: bold;
    color: red;
    background-color: white;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.menuContent2:hover {
    background-color: white;
    color: red;
}

.dropdown {
    display: flex;
    flex-direction: column;
    background-color: #fff; /* Adjust as necessary */
    border: 1px solid #ccc; /* Adjust as necessary */
    margin-top: 5px;
    /* Add the following properties for scrolling */
    max-height: 500px; /* Adjust as necessary */
    overflow-y: auto;
}

.dropdownItem {
    padding: 10px;
    color: #000; /* Adjust as necessary */
    text-decoration: none;
    text-align: center;
}

.dropdownItem:hover {
    background-color: #f1f1f1; /* Adjust as necessary */
}

