/* Dropdown button styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #be2c3f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Rajdhani", sans-serif;
    font-weight: bolder;
}

.dropdownContent {
    display: none;
    position: absolute; /* Position absolutely relative to the dropdown */
    background-color: #f9f9f9;
    width: 80vw;
    max-width: 600px; /* Set a max-width for the dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%;
    top: 100%; /* Position it directly below the button */
    transform: translateX(-50%); /* Center horizontally */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    white-space: normal; /* Allow content to wrap onto the next line */
    max-height: 400px; /* Set a max height for the dropdown */
    overflow-y: auto;
    border-radius: 8px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding inside the dropdown */
}

.dropdownContent a {
    color: black;
    text-decoration: none;
    display: block; /* Display items as block elements */
    padding: 12px 16px; /* Add padding to the anchor tags */
    margin: 5px 0; /* Add margin between items */
    border-bottom: 1px solid #ccc; /* Add a border for separation */
}

.dropdownContent a:last-child {
    border-bottom: none; /* Remove border for the last item */
}

.dropdownContent a:hover {
    background-color: #f1f1f1; /* Change background on hover */
}

.dropdown:hover .dropdownContent {
    display: block; /* Display as block element */
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1300px) {
    .dropdown {
        display: none;
    }
}
