/* Review.module.css */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.mainContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 30px;
}

.mainContainer button {
    background-color: #333333;
    border-radius: 15px;
}

.mainContainer button:hover {
    background-color: #1b0606;
    border-radius: 15px;
}

.container {
    padding: 15px;
    /*margin: 0 15px; !* Increase horizontal spacing between items *!*/
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    align-items: center;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.subContainer {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Example box shadow */
    width: 90%;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Optional: to match container's rounded corners */
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

/* Additional styles to manage carousel track alignment */
.slick-track {
    display: flex !important;
    gap: 30px; /* Increase spacing between items */
}

.center {
    text-align: center;
    font-size: 13px;
    font-family: "Arimo", serif;
    margin-top: 10px;
    padding: 10px;
}

.textCenter {
    text-align: center;
    font-size: 40px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    padding:20px
}

.slickList {
    justify-content: center;
}

